/** {*/
/*    border: 1px solid #fb0456;*/
/*}*/

.section-inspire {
    background: url("../images/World Map.png") no-repeat center,
    url("../images/backgraund inspire.png") no-repeat bottom;
    background-size: cover, 100% 37%;
}

.section-inspire h3 {
    font-family: 'Palatino Linotype', sans-serif;
    font-size: 33px;
    font-style: italic;
    color: #484848;
    margin-top: 7%;
    padding-left: 10%;
}

.section-inspire h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 54px;
    color: #484848;
    max-width: 700px;
    padding-left: 3%;
}

.section-inspire ul li a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #484848;
    margin: 20px 25px 15px 15px;
}

.section-inspire .nav-pills .nav-link {
    border-radius: 25px;
}

.section-inspire .nav-item .nav-link.active {
    background-color: #f42267;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .35);
}

.section-inspire .tab-content .content-item {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1d;
    margin-bottom: 25px;
    max-width: 700px;
    min-height: 87px;
    margin-left: 15px;
}

.section-inspire .tab-content .btn-pink {
    background-color: #f42267;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    box-shadow: 0 10px 0 rgba(255, 89, 144, .7);
    transition: all .3s;
    margin-left: 25px;
    margin-bottom: 100px;
}

.section-inspire .tab-content .btn-pink:hover {
    box-shadow: 0 5px 0 rgba(255, 89, 144, .7);
    background-color: #fb0456;
    transform: scale(.8);
}

.section-inspire .src {
    margin-left: 70%;
    margin-top: -50%;
}


@media only screen and (max-width: 1200px) {
    .section-inspire img {
        margin-left: 20%;
        margin-top: 0;
        max-width: 70%;
    }
}


.design img {
    margin-top: 10px;
    height: 75px;
    width: 68px;

}

.design .num {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #ffffff;
}

.design h4 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    height: 72px;
    font-weight: 600;
}

.design p {
    font-size: 15px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.progress-item {
    margin-top: -2.8%;
    transition: all .3s;
    transform: scale(.7);
}

.progress-item:hover {
    background-color: rgba(64, 40, 106, .5);
    transform: scale(.96);
}

.progress-item a {
    text-decoration: none;
}