{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/lets.css' %}">
{% endblock %}

<section class="section-lets text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Let's Grow Together</h3>
                <h4>We turn creative ideas into your business.</h4>
                <p>Lorem ipsum dolor sit am et, consec tetur adipi scing elit. Sed sodales enim ut rhoncus lorem ipsum
                    ese terds. Lorem ipsum dolor sit am et, consec tetur adipi scing elit. </p>
                <p><a href="#" class="btn btn-pink">Read more</a></p>
            </div>
        </div>
    </div>
</section>